
body
{
    max-width: 768px;
    margin:0 auto;
    font-family:"Roboto";
}
@keyframes rond{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility: hidden;
    }
}
.spinner
{
    position:fixed;
    top:0em;
    bottom:0;
    left:0em;
    right:0;
    width:100vw;
    height:100vh;
    background: white;
    z-index:99;
    animation:rond 3s ease-in-out forwards;
    animation-delay: 1s;
    display:flex;
    justify-content: center;
    align-items: center;
}/*élément rond avec animation "disparition"*/
.spin
{ 
    width:21.5em;
    height:21.5em;
    margin:auto;
    border:solid 1em #ff79da;
    border-radius: 50%;
    border-bottom-color: #9356dc;
    animation:0.5s linear infinite  spinner;
    -webkit-animation: 1s linear infinite spinner;  
}
@keyframes spinner {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spinner {
    to { -webkit-transform: rotate(360deg); }
  }
header
{
    width:100%;
    display: flex;
    justify-content: center;
    height:6.3em;
    align-items: center;  
}
header img
{
    height:3em;
}
.formulaire
{
    width:100%;
    height:3.1em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d3cfcf;
}
.formulaire i
{
    padding:0.7em;
}

input
{
    width: 7.5em;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 700;
    border:none;
    background-color: #d3cfcf;
}
input::placeholder
{
    color:black; 
}
input:focus
{
    outline: none;
}
.presentation
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    height:16em;
}
h1
{
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
.intro_b h3
{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
}
.intro_a,.intro_b
{
    padding-left: 1.3em;
    padding-right: 1.3em;
    text-align: center;
}
@keyframes rose 
{
    0%{
        background: linear-gradient(rgb(255, 122, 217, 1),rgba(147, 86, 220, 1));
        box-shadow: 5px 5px 10px 3px rgba(211, 207, 207, 1);
    }
    20%{
        background: linear-gradient(rgb(255, 135, 219),rgb(181, 121, 255));
        box-shadow: 5px 5px 10px 3px rgb(192, 178, 178);
    }
    35%{
        background: linear-gradient(rgb(250, 155, 220),rgb(188, 134, 253));
        box-shadow: 5px 5px 10px 3px rgb(177, 158, 158);
    }
    
    50%{
        background: linear-gradient(rgb(240, 177, 222),rgb(214, 181, 252));
        box-shadow: 5px 5px 10px 3px rgb(146, 130, 130);
    }
    100%{
        background: linear-gradient(rgb(252, 195, 236),rgb(209, 173, 250));
        box-shadow: 5px 5px 10px 3px rgb(116, 103, 103);
    }
}
.intro_c
{
    border-radius: 30px;
    margin-top: 1.7em;
    margin-bottom: 2.7em;
    background-clip: border-box;
    background: linear-gradient(rgb(255, 122, 217, 1),rgb(147, 86, 220, 1));
    box-shadow: 5px 5px 10px 3px rgb(211, 207, 207, 1);    
}
.intro_c:hover
{
    animation:rose 0.5s ease-out forwards; 
}
.intro_c h3
{
    color:white;
    font-size: 1.1em;
    font-weight: 500;
    margin:0;
    padding-left:1.1em;
    padding-right:1.1em ;
    padding-top:0.8em ;
    padding-bottom: 0.8em;
}
.fonctionnement
{
    width:100%;
    height:21.3em;
}
.titre_fonction
{
    margin-left: 1.5em;
    margin-bottom: 2em;
}
.titre_fonction h2, .titre_restaurants h2
{
    font-size: 1.5em;
}
.etapes_1_2_3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}
.etape
{
    width:95%;
    height:4em;
    display: flex;
    align-items: center;
    margin-left: 1.1em;
    position:relative;
}
.etape h3
{
    font-size: 1.2em;
}

.etape i
{
    font-size: 1.5em;
   margin-left: 0.5em;
}
.text_etape_noire
{ 
    position:absolute;
    z-index:1;
    width:80%;
    height:3.5em;   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    left: 1em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow:  3px 3px 8px #d3cfcf;
    opacity:1;
    transition:opacity 2s;
}
.text_etape_noire:hover
{
    opacity:0;
}
.text_etape_violette
{
    position:absolute;
    z-index:1;
    width:80%;
    height:3.5em;   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    left: 1em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    background-color: #FF79DA;
    border-radius: 20px;
    box-shadow:  3px 3px 8px #d3cfcf;
    opacity:0;
    transition:opacity 2s;  
}
.text_etape_violette i
{
    color:#6b47ec;
}
.text_etape_violette:hover
{
  
    opacity:1;
}
.text_etape_noire h3, .text_etape_violette h3
{
    margin-left:1.3em;
}
.numero
{
    position:absolute;
    z-index:2;
    display:flex;
    justify-content: center;
    align-items: center;
    width:2.1em;
    height: 2.1em;
    left:-1em;
    border-radius: 100%;
    background-color: #9356dc;
    color:white;
    font-size: 1em;
    font-weight: 900;
}
.restaurants
{
    margin-top: 1.5em;
    background-color:#f2f2f2 ;
    height:72em;
}
.titre_restaurants h2
{
    padding-left: 1.2em;
    padding-top: 1em;
}
.restau_1_2_3_4
{

    display:flex;
    flex-direction: column;
    align-items: center;
}
.restau_1, .restau_2, .restau_3, .restau_4
{
    width:95%;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  3px 3px 8px #d3cfcf;
    margin-bottom: 1.5em;
}
.titre_restau
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2.3em;
}
.photo_restau img
{
    width:100%;
    height:10em;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.photo_restau
{
    position:relative;
}
.photo_restau h3
{
    position:absolute;
    width:25%;
    z-index:1;
    left: 70%;
    text-align: center;
    background-color:#99E2D0;
    color:#04b387;
    border-radius: 5px;
}
.restau_3 .photo_restau h3, .restau_4 .photo_restau h3
{
    display:none;
}
.titre_restau
{
    height:4.8em;
    position: relative;
}
.titre_quartier
{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.titre_quartier h2
{
   margin-bottom: 0em;
   font-size: 1.3em;
}
.titre_quartier h3
{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 0.2em;
}
.titre_quartier a
{
    text-decoration: none;
    color:black;
}
.coeur_vide, .coeur_plein
{
    position:absolute;
    left: 85%;  
    font-size: 2em;
    cursor:pointer;
}
.coeur_vide i
{
    opacity: 0.5;
    transition:opacity 0.5s 0.5s;
}
.coeur_vide i:hover
{   
    opacity:0;
}
.coeur_plein i
{
    opacity: 0;
    background: linear-gradient(#9356dc, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-border-image: 0;
    transition:opacity 1s 0.5s;
}  
.coeur_plein i:hover
{
    opacity:1;
}
footer
{
    /*width:100%;*/
    font-family:"Roboto";
    background-color: black;
    color:white;
    height:14em;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 2em;
}
.logo
{
    font-family: "shrikhand";
    font-size: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
footer h4
{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
}

.foot_1, .foot_2, .foot_3, .foot_4
{
    height:2.5em;
}
.foot_1,.foot_2
{
    display:flex;
    align-items: center;
}
.foot_1 i
{
    margin-right: 1.1em;
}
.foot_2 i
{
    margin-right: 0.8em;
}
.foot_3
{
    margin-top: 0.8em;
}

.foot_4 a
{
    text-decoration: none;
    color:white;
}
@media screen and (min-width:768px) and (max-width:992px)
{
   body
   {
       max-width: 992px;
       margin:0 auto;
   }
   .spin
    { 
    width:29em;
    height:29em;
   
    }
    header
    {
        height:8em;
    }
    header img
    {
    
        height:4.5em;
    }
    .formulaire
    {
        height:4em;
    }
   .formulaire i
    {
        font-size: 1.5em;
    }
    input
    {
        font-size: 1.2em;
    }
    .intro_b h3
    {
        font-size: 1.4em;
    }
    .intro_c h3
    {
        font-size: 1.5em;
        padding-left:1.3em;
        padding-right:1.3em;
    }
    .fonctionnement
    {
        height:27em;
    }
    .titre_fonction h2, .titre_restaurants h2
    {
        font-size: 2em;
    }
    .etapes_1_2_3
    {
        gap:3em;
        margin:auto;
    }
   .etape
   {
        height:5em;
        margin:auto;
   }
   .etape h3
    {
        font-size: 1.6em;
        margin-left:3em ;
    }
   .text_etape_noire, .text_etape_violette
   { 
       height:4.8em;   
       left: 3.5em;
       padding-left: 1.5em;
       padding-right: 1em;
   }
   .numero
    {
        width:2.5em;
        height: 2.5em;
        left:-1.3em;
        font-size: 1.5em;
    }
    .etape i
    {
        font-size: 2.2em;
        margin-left: 1.2em;
    }
    .restaurants
    {
        margin-top: 1.5em;
        height:48em;
    }
    .restau_1_2_3_4
    {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width:98%;
        margin:auto;
    }
    .restau_1, .restau_2, .restau_3, .restau_4
    {
        width:45%;
        height:18em;
        margin-left: 1.5em;
        margin-bottom: 2em;
    }
    .titre_quartier h2
    {
    font-size: 1.6em;
    }
    .titre_quartier h3
    {
        font-weight: 300;
        font-size: 1.3em;
    }
    .photo_restau img
    {
        height:12em;
    }
    .photo_restau h3
    {
        width:30%;
        left: 60%;
        font-size: 1.5em;
        padding:0.5em;
    }
    .logo
    {
        font-size: 2.2em;
    }
   .menu_footer
   {
       display:flex;
       flex-direction: row;
       margin:auto;
   }
   .menu_footer h4
   {
       font-size:1.5em;
   }
   .foot_1_2, .foot_3_4
   {
       width:50%;
   }
   .foot_3
    {
        margin-top: 0em;
    }
   .foot_3_4
   {
        display:flex;
        flex-direction: column;
        
   }
}
@media screen and (min-width:993px)
{
    body
    {
        max-width:1300px;
        margin:0 auto;
    }
    
    header
    {
        height:11em;
    }
    header img
    {
        
        height:6em;
      
    }
    .formulaire
    {
        height:5em;
    }
    .formulaire i
    {
        font-size: 2.5em;
    }
    input
    {
        font-size: 1.5em;
    }
    .presentation
    {
        height:17.5em;
    }

    h1
    {
        font-size: 2.1em;
    }

    .intro_b h3
    {
        font-size: 1.5em;
        font-weight: 400;
    }

    .intro_c h3
    {
        font-size: 1.8em;
        font-weight: 600;
        padding-left:1.8em;
        padding-right:1.8em ;
        padding-top:0.7em ;
        padding-bottom: 0.7em;
    }
    .fonctionnement 
    {
        height:15em;
    }
    
    .titre_fonction h2, .titre_restaurants h2
    {
        font-size: 1.9em;
    }
    .titre_fonction
    {
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    
    .etape
    {
        width:32%;
    }
    .etape i
    {
        font-size: 1.6em;
        margin-left: 0em;
        
    }
    .etape h3
    {
        font-size: 1.5em;
        margin-left:0.8em;
        
    }
    .etapes_1_2_3
    {
        width:98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin:auto;
        gap:0.5em;
    }
    .text_etape_noire, .text_etape_violette
   { 
       height:5em;   
       left: 0em;
   }
    .numero
    {
        width:2em;
        height: 2em;
        left:50%;
        transform:translateX(-50%);
        top: -1.2em;
        font-size: 1.5em;
    }
    
    .restaurants
    {
        height:26em;
    }
    .restau_1_2_3_4
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:0.5em;
        gap:1em;
    }
    .restau_1, .restau_2, .restau_3, .restau_4
    {
        width:23%;
        height:18em;
        margin-bottom: 1.5em;
    }
    .photo_restau img
    {
        width:100%;
        height:13em;
        object-fit: cover;
    }
    .photo_restau h3
    {
        width:38%;
        
        left:50%;
        font-size: 1.4em;
        padding: 0.3em;
        
    }
    .coeur_vide, .coeur_plein
    {
        left:80%;
        top:50%; 
        font-size: 1.6em;
        transform:translateY(-50%);
    }
    .titre_quartier
    {
        padding-left:0.5em;
        
    }
    footer
    {
        height:14em;
    }
    footer p
    {
     text-align: center;
    }
    .logo
    {
        font-size: 2.8em;
    }
    .menu_footer
    {
        margin-left: 6em;
        margin-right: 6em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
   
}