
body
{
    max-width: 768px;
    margin:0 auto;
    font-family:"Roboto";
}
@keyframes rond{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility: hidden;
    }
}
.spinner
{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100vw;
    height:100vh;
    background: white;
    z-index:99;
    animation:rond 0.8s forwards;
    animation-delay: 1s;
}/*élément rond avec animation "disparition"*/
.spin
{
    
    width:27.5em;
    height:27.5em;
    border:solid 1em #ff79da;
    border-radius: 50%;
    border-bottom-color: #9356dc;
    animation:1.5s linear infinite spinner;
    -webkit-animation: 1.5s ease-in-out infinite spinner;
    
}
@keyframes spinner {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spinner {
    to { -webkit-transform: rotate(360deg); }
  }
header
{
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1em;  
}
header img
{
    width:50%;
}
.formulaire
{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d3cfcf;
    /*padding-left: 2em;*/
}
.formulaire i
{
    padding:0.7em;
}
input
{
    width: 7.5em;
    font-size: 0.95em;
    font-weight: 700;
    border:none;
    background-color: #d3cfcf;
}
input::placeholder
{
    color:black; 
}
input:focus
{
    outline: none;
}
.presentation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}
h1
{
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.intro_b h3
{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
}
.intro_a,.intro_b
{
    padding-left: 1.3em;
    padding-right: 1.3em;
    text-align: center;
}

@keyframes rose 
{
    0%{
        background: linear-gradient(rgb(255, 122, 217, 1),rgba(147, 86, 220, 1));
        box-shadow: 5px 5px 10px 3px rgba(211, 207, 207, 1);
    }
    20%{
        background: linear-gradient(rgb(221, 152, 200),rgb(181, 121, 255));
        box-shadow: 5px 5px 10px 3px rgb(192, 178, 178);
    }
    35%{
        background: linear-gradient(rgb(253, 190, 233),rgb(188, 134, 253));
        box-shadow: 5px 5px 10px 3px rgb(179, 164, 164);
    }
    
    50%{
        background: linear-gradient(rgb(252, 174, 230),rgb(214, 181, 252));
        box-shadow: 5px 5px 10px 3px rgb(190, 171, 171);
    }
    100%{
        background: linear-gradient(rgb(252, 195, 236),rgb(209, 173, 250));
        box-shadow: 5px 5px 10px 3px rgb(126, 110, 110);
    }
}
.intro_c
{
    border-radius: 30px;
    margin-top: 1.7em;
    margin-bottom: 2.7em;
    background-clip: border-box;
    background: linear-gradient(rgb(255, 122, 217, 1),rgb(147, 86, 220, 1));
    box-shadow: 5px 5px 10px 3px rgb(211, 207, 207, 1);
     
}
.intro_c:hover
{
    animation:rose 0.5s ease-out forwards;
    
}
.intro_c h3
{
    color:white;
    font-size: 1.1em;
    font-weight: 500;
    margin:0;
    padding-left:1.1em;
    padding-right:1.1em ;
    padding-top:0.8em ;
    padding-bottom: 0.8em;
}
.titre_fonction
{
    margin-left: 1.5em;
    margin-bottom: 4em;
}
.etapes_1_2_3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:7em;
    /*justify-content: start;*/
}
.etape
{
    position:relative;
    width:100%;
    display: flex;
    align-items: center;
    /*margin-left: 1em;
    margin-right: 1em;*/
   

}
.numero
{
    position:absolute;
    z-index:1;
    margin-left: 1em;
    padding:0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 50%;
    background-color: #9356dc;
    color:white;
    font-size: 1.1em;
    font-weight: 900;
}
.etape i
{
    font-size: 2em;
}
.text_etape_noire
{
    position:absolute;
    width:70%;
    display: flex;
    align-items: center;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    left: 2em;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow:  3px 3px 8px #d3cfcf;
    opacity:1;
    transition:opacity 2s;
}
.text_etape_noire:hover
{
    opacity:0;
}
.text_etape_violette
{
    position:absolute;
    width:70%;
    display: flex;
    align-items: center;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    left: 2em;
    background-color: #ec47ad;
    border-radius: 20px;
    box-shadow:  3px 3px 8px #d3cfcf;
    opacity:0;
    transition:opacity 2s;  
}
.text_etape_violette i
{
    color:#6b47ec;
}
.text_etape_violette:hover
{
    opacity:1;
}
.text_etape_noire h3, .text_etape_violette h3
{
    margin-left:1.5em;
}
.restaurants
{
    margin-top: 6em;
    background-color:#f2f2f2 ;
}
.titre_restaurants h2
{
    padding-left: 1.2em;
    padding-top: 2em;
}
.restau_1_2_3_4
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.restau_1, .restau_2, .restau_3, .restau_4
{
    width:90%;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  3px 3px 8px #d3cfcf;
    margin-bottom: 1.5em;
}
.titre_restau
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    padding-right: 2.3em;
}
.photo_restau img
{
    width:100%;
    height:10em;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.photo_restau
{
    position:relative;
}
.photo_restau h3
{
    position:absolute;
    width:25%;
    z-index:1;
    left: 70%;
    /*right: 10%;*/
    text-align: center;
    /*top: 1em;*/
    /*padding-left:0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;*/
    background-color:#99E2D0;
    color:#04b387;
    border-radius: 5px;
}
.restau_3 .photo_restau h3, .restau_4 .photo_restau h3
{
    display:none;
}
.titre_restau
{
    height:4.8em;
    position: relative;
}
.titre_quartier
{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    
}
.titre_quartier h2
{
   margin-bottom: 0em;
   font-size: 1.3em;

}
.titre_quartier h3
{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 0.2em;
}
.titre_quartier a
{
    text-decoration: none;
    color:black;
}
.coeur_vide, .coeur_plein
{
    position:absolute;
    left: 85%;  
    font-size: 2em;
    cursor:pointer;
}

.coeur_vide i
{
    opacity: 0.5;
    transition:opacity 0.5s;
}
.coeur_vide i:hover
{   
    opacity:0;
}
.coeur_plein i
{
    opacity: 0;
    background: linear-gradient(#9356dc, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-border-image: 0;
    transition:opacity 0.5s;
}  
.coeur_plein i:hover
{
    opacity:1;
}
@media screen and (min-width:768px)and(max-width:992px)
{
   body
   {
       width: 100%;
   }
   .formulaire i
    {
        font-size: 1.8em;
       
    }
    input
    {
        width: 7.5em;
        font-size: 1.2em;
        font-weight: 700;
        border:none;
        background-color: #d3cfcf;
    }
    .intro_b h3
    {
        font-size: 1.4em;
    }
    .intro_c h3
    {
    
        font-size: 1.5em;
        /*font-weight: 500;
        margin:0;*/
        padding-left:1.3em;
        padding-right:1.3em;
        /*padding-top:0.8em ;
        padding-bottom: 0.8em;*/
    }
    /*.etapes_1_2_3
    {
        /*display: flex;
        flex-direction: column;
        align-items: center;
        gap:7em;*/
    /*justify-content: start;
        position:relative;
        align-items: center;

    }*/
    
    .text_etape_noire, .text_etape_violette
    {
        justify-content: center;
        font-size: 1.2em;
        width: 100%;
    }  
}
