body
{
    max-width: 768px;
    margin:0 auto;
    font-family:"Roboto";
}
header
{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1em;  
}
header i
{
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.2em;
    color:black;
}
header img
{
    width:50%;
}
.photo
{
    position:relative;
    z-index: -1;
    align-items: center;

}
.photo img
{
    width:100%;
    height:16em;
    object-fit: cover;
}
.menu
{
    position:absolute;
    left: 0;
    right:0;
    z-index:1;
    top:18em;
    display:flex;
    flex-direction: column;
    gap:2.5em;
    background-color: #f0eeee;
    border-radius: 30px 30px 0px 0px;
    
}
.titre_restau h1
{
    font-family:"shrikhand";
    font-size: 2.1em;
    padding-left: 2%;
    margin-bottom: 0em;
}
.coeur_vide, .coeur_plein
{
    position:absolute;
    /*left: 85%;*/
    right:10%;
    top:0.9em;  
    font-size: 2em;
    cursor:pointer;
}

.coeur_vide i
{
    opacity: 0.4;
    transition:opacity 0.5s;
}
.coeur_vide i:hover
{   
    opacity:0;
}
.coeur_plein i
{
    opacity: 0;
    background: linear-gradient(#9356dc, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-border-image: 0;
    transition:opacity 0.5s;
}  
.coeur_plein i:hover
{
    opacity:1;
}
.menu_3_choix
{
    display: flex;
    flex-direction: column;
}
.titre_menu
{
    display: flex;
    flex-direction: column;
}
.titre_menu h2
{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0.5em;
}
.titre_menu p
{
    height: 0.2em;
    width: 10%;
    background-color: #99e2d0;
    margin-top: 0em;
    margin-left: 0.5em;
}
@keyframes opacite 
{
    from
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
}
.plats_a_b_c
{
    animation:opacite 4s forwards;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.01s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.6em;
    opacity:0;
}
.delay1
{
    animation-delay: 1s;
}
.delay2
{
    animation-delay: 2s;
}
@keyframes plat {
    from{
        positon:absolute;
        left:0em;
        right:0em;
    }
    to{
        position:absolute;
        left:0em;
        right:12em;
    }
}

.plat_a, .plat_b, .plat_c
{   
    width:95%;
    height:4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;
    padding-top: 0.7em;*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px #d3cfcf;
}
/*@keyframes nomplat {
    from{
        width:22em;
    }
    to{
        widht:14em;
    }
}*/
.nom_plat
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 0.6em;
    width:22em;
}
.titre_plat
{  
    margin-top: 0.3em;
    margin-bottom: 0em;
    font-size: 1.3em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sous_titre_plat
{   
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-size: 1.25em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix_plat
{
    width:2em;
    margin-top: auto;
    margin-bottom: 0.35em;
    padding-bottom: 0.3em;
    font-size: 1.2em;
    font-weight: 600;
}
@keyframes coche{
    from{
        width: 0em;
    }
    to{
        width:5em;
    }
}
.coche
{
width:0em;
background: #99e2d0;
border-radius: 0px 10px 10px 0px;

}
.plat_a:hover .coche,.plat_b:hover .coche, .plat_c:hover .coche
{
    animation:coche 1s linear forwards;
}
@keyframes tournante {
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.coche_tournante i
{
    font-size: 2em;
    color:#99e2d0;
    margin-top:0.25em;
    margin-left:0.35em;
    padding:0.35em;
    background-color: white;
    border-radius: 50%;
    transform:rotate(0deg);
}
/*.plat_b:hover .coche_tournante
{
    animation:coche 2s forwards;
}*/
.plat_b:hover .coche_tournante i, .plat_c:hover .coche_tournante i
{
    animation:tournante 2s forwards;
}

button
{
    /*width:50%;*/
    margin:auto;
    color:white;
    font-size: 1.4em;
    font-weight: 700;
    padding-top:0.8em;
    padding-bottom: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 30px;
    /*border-color:transparent;*/
    border-width: 0em;
    background-clip: border-box;
    background: linear-gradient(#ff79da,#9356dc);
    box-shadow: 5px 5px 10px 3px #d3cfcf;
    margin-bottom: 2em;
    transition-property: background, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}
button:hover
{
    background: linear-gradient(#fac3ea,#ba92eb);
    box-shadow: 5px 5px 30px 3px #7c7979;
}
footer
{
    position:relative;
    z-index:2;
    top:83em;
}

