footer
{
    
    background-color: black;
    color:white;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer h4
{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
}
footer img
{
    width:32%;
    height: 1.5em;
    filter: invert(100%);
    -webkit-filter: invert(100%); 
}
.foot_1, .foot_2, .foot_3, .foot_4
{
    height:2.5em;
}
.foot_1,.foot_2
{
    display:flex;
    align-items: center;
}
.foot_1 i
{
    margin-right: 1.1em;
}
.foot_2 i
{
    margin-right: 0.8em;
}
.foot_3
{
    margin-top: 0.8em;
}
.foot_4 a
{
    text-decoration: none;
    color:white;
}